*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
}

html {
    font-size: 62.5%;
}

img,
picture {
    max-width: 100%;
}

:root {

    --clr-heading: 160 2% 31%;
    --clr-body: 0 0% 66%;
    --clr-sub-text: 0 0% 74%;
    --clr-attribution: 229 19% 77%;
    --clr-background-gray: 0 0% 90%;

    --fs-200: 1.0rem;
    --fs-300: 1.2rem;
    --fs-400: 1.4rem;
    --fs-500: 1.8rem;
    --fs-900: 2.4rem;

    --ff-montserrat: 'montserrat', sans-serif;

    --fw-600: 600;
    --fw-700: 700;
}

.container {
    max-width: 103rem;
    padding-inline: 2rem;
    margin-inline: auto;
}

body {
    font-weight: var(--fw-600);
    font-family: var(--ff-montserrat);
    text-align: center;
    margin-block: 4rem;
    color: hsl(var(--clr-body));
}

.info {
    display: grid;
    justify-content: center;
}

.artist-img img {
    max-width: 13rem;
    border-radius: 1.6rem;
}

.info h1 {
    font-size: var(--fs-400);
    color: hsl(var(--clr-heading));
    margin-block: 0.5rem;
}

.info > p {
    font-size: var(--fs-200);
    margin-bottom: clamp(0.8rem, 2vw, 1.4rem);
}

.social {
    display: flex;
    justify-content: center;
    gap: clamp(1.2rem, 2vw, 2.5rem);
    margin-bottom: clamp(2rem, 5vw, 7rem);
}

.social div {
    width: clamp(8rem, 10vw, 10rem);
    padding-block: clamp(1rem, 2vw, 1.5rem);
    background: hsl(var(--clr-background-gray));
    border-radius: 1.2rem;
}

.count {
    color: hsl(var(--clr-heading));
    font-size: var(--fs-300);
    line-height: 1.5;
}

.topic {
    font-size: var(--fs-300);
    color: hsl(var(--clr-sub-text));
}

/* ********************* Gallery Section************* */

.gallery {
    display: grid;
    grid-template-areas: 'side-table couch couch'
                          'bathtub bathtub lamp'
                          'dining plant lamp';
    gap: clamp(0.8rem, 2vw, 1.5rem);
}

.side-table {
    grid-area: side-table;
}

.couch {
    grid-area: couch;
}

.bathtub {
    grid-area: bathtub;
}

.lamp {
    grid-area: lamp;
}

.plant {
    grid-area: plant;
}

.dining {
    grid-area: dining;
}

.gallery img {
    border-radius: 1.2rem;
    line-height: 0;
    width: 100%;
    height: 100%;
}

/*************************************************/

.attribution {
    margin-block: 5rem 2rem;
}

.attribution p {
    color: hsl(var(--clr-attribution));
    font-size: var(--fs-400);
}

.attribution a {
    font-weight: var(--fw-700);
    text-decoration: underline;
}

@media (min-width: 45em) {

    .artist-img img {
        max-width: 16rem;
    }

    .info h1 {
        font-size: var(--fs-900);
    }

    .info p {
        font-size: var(--fs-400);
    }

    .count {
        font-size: var(--fs-500);
    }

    .topic {
        font-size: var(--fs-400);
    }
}